<h1>New Event</h1>

<%= form_for @calendar, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.text_field :event_name %>
    <br>
    <%= f.text_field :event_description %>
    <br>
    
    <br><br>
    <%= f.submit "Create" %>
  <% end %>
