<h1> I am a show page </h1>

<br>
<h3> Event Name </h3>
<h2><%= @calendar.event_name %></h2>
<br>
<h3> Event Description </h3>
<%= @calendar.event_description %>
<br>
<h3> Event Starts at </h3>
<%= @calendar.start_date%>
<br>
<h3> Event End on </h3>
<%= @calendar.end_date %>